---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Host an R User Group Event</Fragment>
      <Fragment slot="desc">Bring Zurich's Data Enthusiasts to Your Organization</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Are You a useR ? 
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        Do you have a team of open source enthusiasts? Are you interested to point other data enthusiasts to your
        organization or simply want to support the open source community?
      </p>
      <p>
        fo shizzle.
      </p>
    </div>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Meet the Origanizers
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
        We are a team of R and data enthusiasts with different backgrounds and different points in our careers. 
      </p>
      <p>
        sayin this and that cause this and that was missing. 
      </p>
    </div>
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12 mb-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            
            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
