---
import Link from "./ui/link.astro";
---


  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 mb-12 scroll-mt-12">
    <div
      class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
      <h2 class="text-white text-4xl md:text-6xl tracking-tight">
        <a name="talk">Become Our Next Speaker</a>
      </h2>
      <p class="text-slate-400 mt-4 text-lg md:text-xl">
        Made a great report with Quarto? Built a Shiny App? Wrote a paper and look for feedback? Completed an integration journey? Wrote a new R package?
      </p>
      <div class="flex mt-5">
        <Link href="/contact" style="inverted">Give a Talk!</Link>
      </div>
    </div>
  </div>
