<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div
      class="grid grid-cols-1 gap-4 mt-6 items-center list-none lg:grid-cols-2 lg:gap-24">
      <div class="text-center lg:text-left">
        <div>
          <p
            class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
            Past Events
          </p>
          <p class="text-base mt-4 text-gray-500">
            Having hosted 44 Events since 2015, we've touched upon many
            different uses of the R programming language, and in many different
            sectors. To check out all of the events, either check out our Meetup
            page, or the blogposts which the speakers created
          </p>
          <p class="text-base mt-4 text-gray-500">
            <b
              ><a href="/Blog" target="_blank">Read the Blogposts</a> | <a
                href="https://github.com/zurich-r-user-group"
                target="_blank"
                >See the Slides
              </a></b
            >
          </p>
        </div>
      </div>
      <div
        class="lg:mt-0 mt-12 h-full hidden lg:block rounded-3xl overflow-hidden border border-gray-200">
        <div class="bg-gray-100 p-8 rounded-2xl overflow-hidden">
          <img
            alt="Lexingtøn thumbnail"
            class="border border-gray-200 lg:rounded-3xl object-cover rounded shadow-2xl"
            src="/src/assets/zru_logo_old.png"
          />
        </div>
      </div>
    </div>
  </div>
</section>
