---

---


<div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 mb-12 scroll-mt-12">
<div class="mt-6 justify-center mb-16 flex flex-col sm:flex-row gap-3">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Past Events
  </h2>
</div> 




  <!-- table start -->
  <div class="relative overflow-x-auto">
      <table
          class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
      >
          <thead
              class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400"
          >
              <tr>
                  <th scope="col" class="px-6 py-3">Topic </th>
                  <th scope="col" class="px-6 py-3">Host </th>
                  <th scope="col" class="px-6 py-3">Speakers</th>
                  <th scope="col" class="px-6 py-3"> Slides </th>
              </tr>
          </thead>
          <tbody>
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                      October 24: Programming 101
                  </th>
                  <td class="px-6 py-4">
                      Beergarden
                  </td>
                  <td class="px-6 py-4">
                    Duffy Duck, Goofy
                </td>
                  <td class="px-6 py-4">
                   <a href="">How to Stumble</a>, <a href="">How to Look Silly</a>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
</div>
<!-- table end -->









</div>
