---

---


<div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 mb-12 scroll-mt-12">
<div class="mt-6 justify-center mb-16 flex flex-col sm:flex-row gap-3">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Past Events
  </h2>
</div> 




  <!-- table start -->
  <div class="relative overflow-x-auto">
    <style>
        .table-alternate tbody tr:nth-child(odd) {
            background-color: #f9f9f9; /* Light gray for odd rows */
        }
        .table-alternate tbody tr:nth-child(even) {
            background-color: #ffffff; /* White for even rows */
        }
    </style>
    
    <style>
        .table-hover tbody tr:hover {
            background-color: #e9e9e9; /* Slightly toned gray on hover */
        }
    </style>
    
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 table-hover">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">Topic</th>
                <th scope="col" class="px-6 py-3">Host</th>
                <th scope="col" class="px-6 py-3">Speakers</th>
                <th scope="col" class="px-6 py-3">Slides</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    November 2, 2023: Unveiling Market Insights with Real Estate
                </th>
                <td class="px-6 py-4">
                    Datahouse
                </td>
                <td class="px-6 py-4">
                    Andreas Thürlimann
                </td>
                <td class="px-6 py-4">
                    <a href="slides/20231102_Thuerlimann.pdf">Unveiling Market Insights with Real Estate</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    November 2, 2023: Interpretable machine learning: applications in public health
                </th>
                <td class="px-6 py-4">
                    University of Zurich
                </td>
                <td class="px-6 py-4">
                    Andrea Farnham
                </td>
                <td class="px-6 py-4">
                    <a href="slides/20231102_Farnham.pdf">Interpretable machine learning: applications in public health</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    September 11, 2023: duckplyr: Tight Integration of duckdb with R and the tidyverse
                </th>
                <td class="px-6 py-4">
                    cynkra
                </td>
                <td class="px-6 py-4">
                    Kirill Müller
                </td>
                <td class="px-6 py-4">
                    N/A
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    September 11, 2023: The best bottle is just one (or two) GAMMs away
                </th>
                <td class="px-6 py-4">
                    Zürich Data Scientists
                </td>
                <td class="px-6 py-4">
                    Luisa Barbanti, Matteo Tanadini
                </td>
                <td class="px-6 py-4">
                    N/A
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    July 05, 2022: Detecting and analysing space-time correlations with ARCOS
                </th>
                <td class="px-6 py-4">
                    University of Berne
                </td>
                <td class="px-6 py-4">
                    Maciej Dobrzyński
                </td>
                <td class="px-6 py-4">
                    N/A
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    July 05, 2022: Exploring “The Grammar of Graphics”
                </th>
                <td class="px-6 py-4">
                    Helbling Technik
                </td>
                <td class="px-6 py-4">
                    Lynda Metref
                </td>
                <td class="px-6 py-4">
                    N/A
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    April 27, 2022: Comprehensive audit of a Shiny app through CI/CD: toward production-readiness
                </th>
                <td class="px-6 py-4">
                    RinteRface
                </td>
                <td class="px-6 py-4">
                    David Granjon
                </td>
                <td class="px-6 py-4">
                    N/A
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    April 27, 2022: Anomaly Detection on Vote Sundays with R & Shiny
                </th>
                <td class="px-6 py-4">
                    Statistical Office of the Canton of Zurich
                </td>
                <td class="px-6 py-4">
                    Thomas Lo Russo
                </td>
                <td class="px-6 py-4">
                    N/A
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    October 27, 2021: Developing the mlr/mlr3 machine learning framework in R
                </th>
                <td class="px-6 py-4">
                    mlr-org
                </td>
                <td class="px-6 py-4">
                    Patrick Schratz
                </td>
                <td class="px-6 py-4">
                    N/A
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    October 27, 2021: varycoef: An R Package for Gaussian Process-based Spatially Varying Coefficient Models
                </th>
                <td class="px-6 py-4">
                    Swiss Re
                </td>
                <td class="px-6 py-4">
                    Jakob Dambon
                </td>
                <td class="px-6 py-4">
                    N/A
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    October 29, 2020: SPARQL with R
                </th>
                <td class="px-6 py-4">
                    Statistisches Amt, Kanton Zürich
                </td>
                <td class="px-6 py-4">
                    Katharina Kaelin
                </td>
                <td class="px-6 py-4">
                    <a href="https://github.com/statistikZH/SPARQL_WITH_R">SPARQL with R</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    January 29, 2020: From survival analysis to projecting disability payments
                </th>
                <td class="px-6 py-4">
                    PartnerRe
                </td>
                <td class="px-6 py-4">
                    Benjamin Abt, Simon Adamov
                </td>
                <td class="px-6 py-4">
                    <a href="slides/20200129_PartnerRe_pdfversion.pdf">From survival analysis to projecting disability payments</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    January 29, 2020: Data Science at UPC
                </th>
                <td class="px-6 py-4">
                    UPC
                </td>
                <td class="px-6 py-4">
                    Felix Reisen
                </td>
                <td class="px-6 py-4">
                    N/A
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    January 29, 2020: shinyMobile: mobile ready shiny apps
                </th>
                <td class="px-6 py-4">
                    Novartis
                </td>
                <td class="px-6 py-4">
                    David Granjon
                </td>
                <td class="px-6 py-4">
                    <a href="https://rinterface.com/shiny/talks/zurichR2020/index.html#slide=1">shinyMobile: mobile ready shiny apps</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    November 13, 2019: Predicting the departing runway of a flight based on a classification tree model
                </th>
                <td class="px-6 py-4">
                    Zurich Airport
                </td>
                <td class="px-6 py-4">
                    Benjamin Perucco
                </td>
                <td class="px-6 py-4">
                    <a href="slides/20191113_Perucco.pdf">Predicting the departing runway of a flight based on a classification tree model</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    November 13, 2019: NOTAM message classifier
                </th>
                <td class="px-6 py-4">
                    Swiss International Air Lines
                </td>
                <td class="px-6 py-4">
                    Joao Banha
                </td>
                <td class="px-6 py-4">
                    <a href="slides/20191113_Banha.pdf">NOTAM message classifier</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    October 14, 2019: quanteda - Quantitative Analysis of Textual Data
                </th>
                <td class="px-6 py-4">
                    UZH
                </td>
                <td class="px-6 py-4">
                    Stefan Müller
                </td>
                <td class="px-6 py-4">
                    <a href="slides/20191014_quanteda.pdf">quanteda - Quantitative Analysis of Textual Data</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    October 14, 2019: useR!2019 Toulouse : ZRH-PARIS-BORDEAUX-TOULOUSE
                </th>
                <td class="px-6 py-4">
                    KOF/ETHZ
                </td>
                <td class="px-6 py-4">
                    Matthias Bannert
                </td>
                <td class="px-6 py-4">
                    <a href="https://zhr-meetup-201910.netlify.com/#1">useR!2019 Toulouse : ZRH-PARIS-BORDEAUX-TOULOUSE</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    September 16, 2019: Relational data models with the dm package
                </th>
                <td class="px-6 py-4">
                    cynkra
                </td>
                <td class="px-6 py-4">
                    Kirill Müller
                </td>
                <td class="px-6 py-4">
                    <a href="https://github.com/krlmlr/dm/blob/master/demo/zurich.R">R script</a>, <a href="https://krlmlr.github.io/dm/">package website</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    September 16, 2019: Tracking Real Estate Project Web Sites with R
                </th>
                <td class="px-6 py-4">
                    Datahouse AG
                </td>
                <td class="px-6 py-4">
                    Thomas Maier
                </td>
                <td class="px-6 py-4">
                    <a href="slides/20190916_Pres_Datahouse_Crawling.pdf">Tracking Real Estate Project Web Sites with R</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    June 18, 2019: Use case of reinforcement-learning exemplified by Super Mario AI
                </th>
                <td class="px-6 py-4">
                    STATWORX
                </td>
                <td class="px-6 py-4">
                    Sebastian Heinz, Oliver Guggenbühl
                </td>
                <td class="px-6 py-4">
                    <a href="slides/20190618_reinforcelearn.pdf">Use case of reinforcement-learning exemplified by Super Mario AI</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    June 18, 2019: Analytical Data Management with R
                </th>
                <td class="px-6 py-4">
                    CWI, University of Amsterdam (UvA)
                </td>
                <td class="px-6 py-4">
                    Hannes Mühleisen
                </td>
                <td class="px-6 py-4">
                    <a href="slides/20190618_duckdb.pdf">Analytical Data Management with R</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    May 22, 2019: Docker for R users
                </th>
                <td class="px-6 py-4">
                    Helbling Technik AG
                </td>
                <td class="px-6 py-4">
                    Lynda Metref
                </td>
                <td class="px-6 py-4">
                    <a href="https://lyndametref.github.io/docker4r-presentation/docs/">Docker for R users</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    May 22, 2019: Toward production-ready user interfaces with the R Shiny framework
                </th>
                <td class="px-6 py-4">
                    UZH
                </td>
                <td class="px-6 py-4">
                    David Granjon
                </td>
                <td class="px-6 py-4">
                    <a href="https://rinterface.com/shiny/talks/index.html">Toward production-ready user interfaces with the R Shiny framework</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    April 03, 2019: Medical underwriting triage: An end-to-end machine learning case study
                </th>
                <td class="px-6 py-4">
                    PartnerRe
                </td>
                <td class="px-6 py-4">
                    Alexander Noll
                </td>
                <td class="px-6 py-4">
                    N/A
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    April 03, 2019: Introducing chartbookR
                </th>
                <td class="px-6 py-4">
                    SUVA
                </td>
                <td class="px-6 py-4">
                    Kilian Reber
                </td>
                <td class="px-6 py-4">
                    <a href="slides/20190403_Reber_chartbookR.pdf">Introducing chartbookR</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    February 19, 2019: On weapons and dialects: The initial hypothesis and the final story
                </th>
                <td class="px-6 py-4">
                    NZZ
                </td>
                <td class="px-6 py-4">
                    Marie-José Kolly
                </td>
                <td class="px-6 py-4">
                    <a href="slides/20190219_talkMJK.pdf">On weapons and dialects: The initial hypothesis and the final story</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    February 19, 2019: Data driven journalism at Tamedia
                </th>
                <td class="px-6 py-4">
                    Tamedia
                </td>
                <td class="px-6 py-4">
                    Patrick Meier
                </td>
                <td class="px-6 py-4">
                    <a href="https://docs.google.com/presentation/d/1wWc-yjw33mIA8SrOQd16OoIID54L0wU5mNV4410RxKk">Data driven journalism at Tamedia</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    December 5, 2018: What I find important when R Programming - and Recent Cool Features in R
                </th>
                <td class="px-6 py-4">
                    ETH Zurich
                </td>
                <td class="px-6 py-4">
                    Dr. Martin Mächler
                </td>
                <td class="px-6 py-4">
                    <a href="https://stat.ethz.ch/~maechler/U/R/Zurich_R-2018_ProgR-ALTREP.html#1">What I find important when R Programming - and Recent Cool Features in R</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    October 25, 2018: A Comparison of Covariate-based Prediction Methods for FIFA World Cups
                </th>
                <td class="px-6 py-4">
                    TU Dortmund
                </td>
                <td class="px-6 py-4">
                    Andreas Groll
                </td>
                <td class="px-6 py-4">
                    <a href="slides/20181025_useR_predicting_FIFA_groll.pdf">A Comparison of Covariate-based Prediction Methods for FIFA World Cups</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    October 25, 2018: Predicting biathlon shooting performance using machine learning
                </th>
                <td class="px-6 py-4">
                    Swiss Federal Institute of Sport Magglingen/datahouse
                </td>
                <td class="px-6 py-4">
                    Thomas Maier
                </td>
                <td class="px-6 py-4">
                    <a href="slides/20181025_useR_predicting_biathlon_maier.pdf">Predicting biathlon shooting performance using machine learning</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    September 3, 2018: blogdown: Creating Websites with R Markdown
                </th>
                <td class="px-6 py-4">
                    Statistical Office, Canton of Zurich
                </td>
                <td class="px-6 py-4">
                    Thomas Lo Russo
                </td>
                <td class="px-6 py-4">
                    <a href="slides/20180903_blogdown_rmeetup_tlorusso.pdf">blogdown: Creating Websites with R Markdown</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    September 3, 2018: DBI: Recent developments in R’s database interface
                </th>
                <td class="px-6 py-4">
                    cynkra GmbH
                </td>
                <td class="px-6 py-4">
                    Kirill Müller
                </td>
                <td class="px-6 py-4">
                    <a href="https://krlmlr.github.io/dbi-slides/2018-09-zurich-meetup/">DBI: Recent developments in R’s database interface</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    May 16, 2018: Micro location rating in real estate
                </th>
                <td class="px-6 py-4">
                    Wüest Partner
                </td>
                <td class="px-6 py-4">
                    Jacqueline Schweizer
                </td>
                <td class="px-6 py-4">
                    <a href="slides/20180516_Pres_Schweizer.pdf">Micro location rating in real estate</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    May 16, 2018: Speeding R up on your computer by parallelized computations - a geostatistical case study
                </th>
                <td class="px-6 py-4">
                    Department of Environmental Systems Science, ETH Zurich / Statistik Stadt Zürich
                </td>
                <td class="px-6 py-4">
                    Andreas Papritz
                </td>
                <td class="px-6 py-4">
                    <a href="slides/20180516_Pres_Papritz.pdf">Speeding R up on your computer by parallelized computations - a geostatistical case study</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    March 21, 2018: Long Term Protection Model
                </th>
                <td class="px-6 py-4">
                    Partner Re, BeDataDriven
                </td>
                <td class="px-6 py-4">
                    Alexis Iglauer, Maarten-Jan Kallen, Dr. Urszula Gasser
                </td>
                <td class="px-6 py-4">
                    <a href="slides/20180321_LTPM-in-R.pdf">Long Term Protection Model</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    March 21, 2018: Social contact network analysis: static versus dynamic (time-stamped) approaches
                </th>
                <td class="px-6 py-4">
                    University of Bern
                </td>
                <td class="px-6 py-4">
                    Beatriz Vidondo
                </td>
                <td class="px-6 py-4">
                    N/A
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    January 8, 2018: Big Data Analytics in R using sparklyr
                </th>
                <td class="px-6 py-4">
                    Mirai-Solutions
                </td>
                <td class="px-6 py-4">
                    Nicola Lambiase
                </td>
                <td class="px-6 py-4">
                    <a href="https://www.slideshare.net/NicolaLambiase/big-data-analytics-in-r-using-sparklyr">Big Data Analytics in R using sparklyr</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    January 8, 2018: Anomaly detection – database integrated
                </th>
                <td class="px-6 py-4">
                    Trivadis
                </td>
                <td class="px-6 py-4">
                    Olaf Nimz
                </td>
                <td class="px-6 py-4">
                    <a href="https://www.slideshare.net/Zurich_R_User_Group/anomaly-detection-database-integrated">Anomaly detection – database integrated</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    November 7, 2017: Read and process unstructured data with R
                </th>
                <td class="px-6 py-4">
                    Statistical Office, Canton of Zurich
                </td>
                <td class="px-6 py-4">
                    Max Grütter
                </td>
                <td class="px-6 py-4">
                    <a href="https://github.com/statistikZH/RMeetup/blob/master/unstructered_data.pdf">Read and process unstructured data with R</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    November 7, 2017: Mastering Corporate Design with R
                </th>
                <td class="px-6 py-4">
                    Statistical Office, Canton of Zurich
                </td>
                <td class="px-6 py-4">
                    Andrea Schnell, Thomas Lo Russo
                </td>
                <td class="px-6 py-4">
                    <a href="https://schnllr.github.io/Meetup">Mastering Corporate Design with R</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    November 7, 2017: Illustration of pupils’ diversity with R
                </th>
                <td class="px-6 py-4">
                    Zurich State Department of Education
                </td>
                <td class="px-6 py-4">
                    Flavian Imlig
                </td>
                <td class="px-6 py-4">
                    <a href="http://prezi.com/ao48t6yeh_vz/?utm_campaign=share&amp;utm_medium=copy&amp;rc=ex0share">Illustration of pupils’ diversity with R</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    November 7, 2017: Making Public Data Public
                </th>
                <td class="px-6 py-4">
                    Christoph Sax Data Analytics
                </td>
                <td class="px-6 py-4">
                    Christoph Sax
                </td>
                <td class="px-6 py-4">
                    <a href="http://www.christophsax.com/slides/171107-meetup/slides.html">Making Public Data Public</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    September 4, 2017: Open machine learning
                </th>
                <td class="px-6 py-4">
                    Epidemiology, Biostatistics and Prevention Institute, UZH
                </td>
                <td class="px-6 py-4">
                    Heidi Seibold
                </td>
                <td class="px-6 py-4">
                    <a href="https://openml.github.io/articles/slides/talk_cenisbs_2017/OpenML_CENISBS.html">Open machine learning</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    September 4, 2017: Dynamic Pricing - Analyzing rapidly-changing prices
                </th>
                <td class="px-6 py-4">
                    datahouse
                </td>
                <td class="px-6 py-4">
                    Daniel Meister
                </td>
                <td class="px-6 py-4">
                    <a href="https://docs.datahouse.ch/2017/RMeetup_September">Dynamic Pricing - Analyzing rapidly-changing prices</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    September 4, 2017: R at Sanitas – Workflow, Problems and Solutions
                </th>
                <td class="px-6 py-4">
                    Sanitas
                </td>
                <td class="px-6 py-4">
                    Patrik Lengacher
                </td>
                <td class="px-6 py-4">
                    <a href="https://www.slideshare.net/Zurich_R_User_Group/r-at-sanitas-workflow-problems-and-solutions">R at Sanitas – Workflow, Problems and Solutions</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    May 3, 2017: Visualizing the frequency of delays using QGIS and the Leaflet javascript library in R
                </th>
                <td class="px-6 py-4">
                    N/A
                </td>
                <td class="px-6 py-4">
                    Peter B. Pearman, Thomas Roth
                </td>
                <td class="px-6 py-4">
                    <a href="https://www.slideshare.net/Zurich_R_User_Group/visualizing-the-frequency-of-transit-delays-using-qgis-and-the-leaflet-javascript-library-in-r">Visualizing the frequency of delays using QGIS and the Leaflet javascript library in R</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    May 3, 2017: Modelling Bus Bunching
                </th>
                <td class="px-6 py-4">
                    N/A
                </td>
                <td class="px-6 py-4">
                    Andrea Farnham
                </td>
                <td class="px-6 py-4">
                    <a href="https://www.slideshare.net/Zurich_R_User_Group/modeling-bus-bunching">Modelling Bus Bunching</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    May 3, 2017: How we organized the Hackathon
                </th>
                <td class="px-6 py-4">
                    N/A
                </td>
                <td class="px-6 py-4">
                    Heidi Seibold
                </td>
                <td class="px-6 py-4">
                    N/A
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    April 10, 2017: Slides and tutorial
                </th>
                <td class="px-6 py-4">
                    ETHZ/datatools GmbH
                </td>
                <td class="px-6 py-4">
                    Kirill Müller
                </td>
                <td class="px-6 py-4">
                    <a href="https://github.com/krlmlr/remake-slides">Slides</a>, <a href="https://github.com/krlmlr/remake-tutorial">tutorial</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    February 6, 2017: Introduction to Renjin, the alternative engine for R
                </th>
                <td class="px-6 py-4">
                    BeDataDriven
                </td>
                <td class="px-6 py-4">
                    Maarten-Jan Kallen
                </td>
                <td class="px-6 py-4">
                    <a href="https://www.slideshare.net/Zurich_R_User_Group/introduction-to-renjin-the-alternative-engine-for-r">Introduction to Renjin, the alternative engine for R</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    February 6, 2017: R, y u do dis?
                </th>
                <td class="px-6 py-4">
                    N/A
                </td>
                <td class="px-6 py-4">
                    Christoph Molnar
                </td>
                <td class="px-6 py-4">
                    <a href="https://github.com/christophM/r-y-u-do-dis/blob/master/presentation.Rmd">R, y u do dis?</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    February 6, 2017: Scraping Interactive Graphs with Selenium
                </th>
                <td class="px-6 py-4">
                    Swiss International Air Lines
                </td>
                <td class="px-6 py-4">
                    Kushtrim Veseli
                </td>
                <td class="px-6 py-4">
                    <a href="https://github.com/Zurich-R-User-Group/Zurich-R-User-Group.github.io/blob/master/_files/slides-code/538_polls_all.R">Code</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    November 29, 2016: Make it simpleR!
                </th>
                <td class="px-6 py-4">
                    UBS
                </td>
                <td class="px-6 py-4">
                    Raymond Zychowicz
                </td>
                <td class="px-6 py-4">
                    N/A
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    November 29, 2016: R in Finance: Using R in a productive and highly regulated environment
                </th>
                <td class="px-6 py-4">
                    Mirai Solutions
                </td>
                <td class="px-6 py-4">
                    Gabriel Foix
                </td>
                <td class="px-6 py-4">
                    <a href="http://www.slideshare.net/Zurich_R_User_Group/rinfinancegabrielfoix">R in Finance: Using R in a productive and highly regulated environment</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    November 29, 2016: R for Car Insurance Product
                </th>
                <td class="px-6 py-4">
                    N/A
                </td>
                <td class="px-6 py-4">
                    Claudio Giancaterino
                </td>
                <td class="px-6 py-4">
                    <a href="http://www.slideshare.net/Zurich_R_User_Group/how-to-use-r-in-different-professions-r-for-car-insurance-product-speaker-claudio-giancaterino">R for Car Insurance Product</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    November 29, 2016: Using Shiny for worldwide climate monitoring
                </th>
                <td class="px-6 py-4">
                    CelsiusPro
                </td>
                <td class="px-6 py-4">
                    David Masson
                </td>
                <td class="px-6 py-4">
                    N/A
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    September 29, 2016: Fast Prototyping in R - a brief Introduction to R Shiny
                </th>
                <td class="px-6 py-4">
                    Zühlke
                </td>
                <td class="px-6 py-4">
                    Nadja Ulrich
                </td>
                <td class="px-6 py-4">
                    <a href="http://htmlpreview.github.io/?https://github.com/Zurich-R-User-Group/Zurich-R-User-Group.github.io/blob/master/_files/slides/nadja-shiny/MeetupPresentation.html#/">Fast Prototyping in R - a brief Introduction to R Shiny</a>, <a href="https://github.com/naulrich/ZurichRUserMeetup">Code</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    September 29, 2016: Clean, code, analyze and visualize election data in R: An example from datajournalism
                </th>
                <td class="px-6 py-4">
                    NZZ
                </td>
                <td class="px-6 py-4">
                    Marie-José Kolly, Marvin Milatz
                </td>
                <td class="px-6 py-4">
                    <a href="http://www.slideshare.net/Zurich_R_User_Group/where-south-america-is-swinging-to-the-right-an-rdriven-data-journalism-project-from-neue-zrcher-zeitung">Clean, code, analyze and visualize election data in R: An example from datajournalism</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    August 4, 2016: Analyzing the Bührer family data set using an advanced mosaic plot.
                </th>
                <td class="px-6 py-4">
                    ZHAW
                </td>
                <td class="px-6 py-4">
                    Thomas Roth
                </td>
                <td class="px-6 py-4">
                    <a href="http://de.slideshare.net/Zurich_R_User_Group/analyzing-the-bhrer-family-data-set-using-an-advanced-mosaic-plot">Analyzing the Bührer family data set using an advanced mosaic plot.</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    August 4, 2016: Mapping health during travel: a visualization of a trip through Thailand.
                </th>
                <td class="px-6 py-4">
                    UZH
                </td>
                <td class="px-6 py-4">
                    Andrea Farnham
                </td>
                <td class="px-6 py-4">
                    <a href="http://de.slideshare.net/Zurich_R_User_Group/visualization-challenge-mapping-health-during-travel">Mapping health during travel: a visualization of a trip through Thailand.</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    August 4, 2016: Interactive Javascript in R with rCharts
                </th>
                <td class="px-6 py-4">
                    Centralway
                </td>
                <td class="px-6 py-4">
                    Matteo Casserini
                </td>
                <td class="px-6 py-4">
                    <a href="http://htmlpreview.github.io/?https://raw.githubusercontent.com/Zurich-R-User-Group/Zurich-R-User-Group.github.io/master/_files/slides/matteo-rcharts/index.html">Interactive Javascript in R with rCharts</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    August 4, 2016: Animation of political shifts in elections
                </th>
                <td class="px-6 py-4">
                    SRF
                </td>
                <td class="px-6 py-4">
                    Timo Grossenbacher
                </td>
                <td class="px-6 py-4">
                    <a href="https://github.com/srfdata/2015-09-elections-political-shifts/blob/master/analysis/main.Rmd">Animation of political shifts in elections</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    August 4, 2016: An interactive map with R-Shiny and leaflet
                </th>
                <td class="px-6 py-4">
                    Migros
                </td>
                <td class="px-6 py-4">
                    Bojan Škerlak
                </td>
                <td class="px-6 py-4">
                    <a href="http://de.slideshare.net/Zurich_R_User_Group/an-interactive-map-with-rshiny-and-leaflet">An interactive map with R-Shiny and leaflet</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    August 4, 2016: Federal election 2015 : visualizing the panachage-statistics
                </th>
                <td class="px-6 py-4">
                    Statistical Office Zurich
                </td>
                <td class="px-6 py-4">
                    Thomas Lo Russo
                </td>
                <td class="px-6 py-4">
                    <a href="http://www.web.statistik.zh.ch/cms_vis/meetup/panachage.html">Federal election 2015 : visualizing the panachage-statistics</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    August 4, 2016: Crosstalk
                </th>
                <td class="px-6 py-4">
                    eBay
                </td>
                <td class="px-6 py-4">
                    Dimitris Psaradellis
                </td>
                <td class="px-6 py-4">
                    <a href="https://raw.githubusercontent.com/dimitris1ps/zurichRMeetup/master/meetup.rmd">Crosstalk</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    May 23, 2016: Microsoft R Server
                </th>
                <td class="px-6 py-4">
                    Microsoft
                </td>
                <td class="px-6 py-4">
                    Marc Schöni
                </td>
                <td class="px-6 py-4">
                    <a href="http://chilp.it/e690a33">Microsoft R Server</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    May 23, 2016: Automated reports at OrganizationView
                </th>
                <td class="px-6 py-4">
                    OrganizationView
                </td>
                <td class="px-6 py-4">
                    Andrew Marritt
                </td>
                <td class="px-6 py-4">
                    <a href="http://www.slideshare.net/AndrewMarritt/zurich-r-user-group-presentation-may-2016">Automated reports at OrganizationView</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    March 16, 2016: Data journalism
                </th>
                <td class="px-6 py-4">
                    SRF
                </td>
                <td class="px-6 py-4">
                    Timo Grossenbacher
                </td>
                <td class="px-6 py-4">
                    <a href="http://grssnbchr.github.io/zrug-rddj">Data journalism</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    March 16, 2016: Open Data Zurich
                </th>
                <td class="px-6 py-4">
                    Open Data Zurich
                </td>
                <td class="px-6 py-4">
                    Marco Sieber, Fidel Thomet
                </td>
                <td class="px-6 py-4">
                    <a href="http://de.slideshare.net/Opendatazurich/open-data-lt3-r">Open Data Zurich</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    January 21, 2016: Speeding up (big) data manipulation with the data.table package
                </th>
                <td class="px-6 py-4">
                    Zurich University of Applied Sciences, Institute for Data Analysis and Process Design
                </td>
                <td class="px-6 py-4">
                    Vasily Tolkachev
                </td>
                <td class="px-6 py-4">
                    <a href="http://de.slideshare.net/Zurich_R_User_Group/speeding-up-big-data-manipulation-with-datatable-package">Speeding up (big) data manipulation with the data.table package</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    January 21, 2016: DescTools - Tools for Descriptive Statistics and Exploratory Data Analysis
                </th>
                <td class="px-6 py-4">
                    Helsana/HWZ
                </td>
                <td class="px-6 py-4">
                    Andri Signorell
                </td>
                <td class="px-6 py-4">
                    <a href="http://de.slideshare.net/Zurich_R_User_Group/zurich-r-user-group-desc-tools">DescTools - Tools for Descriptive Statistics and Exploratory Data Analysis</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    December 7, 2015: Shiny: Make Your R Code Interactive
                </th>
                <td class="px-6 py-4">
                    ETH
                </td>
                <td class="px-6 py-4">
                    Craig Wang
                </td>
                <td class="px-6 py-4">
                    <a href="http://de.slideshare.net/Zurich_R_User_Group/december-2015-meetup-shiny-make-your-r-code-interactive-craig-wang">Shiny: Make Your R Code Interactive</a>
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    December 7, 2015: Exploring knitr
                </th>
                <td class="px-6 py-4">
                    UZH
                </td>
                <td class="px-6 py-4">
                    Isaac Gravestock
                </td>
                <td class="px-6 py-4">
                    N/A
                </td>
            </tr>
            <tr>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    December 7, 2015: Improving computational performance with algorithm engineering
                </th>
                <td class="px-6 py-4">
                    ETH
                </td>
                <td class="px-6 py-4">
                    Kirill Müller
                </td>
                <td class="px-6 py-4">
                    <a href="https://krlmlr-user15.github.io/presentation/#1">Improving computational performance with algorithm engineering</a>
                </td>
            </tr>
             
        </tbody>
    </table>
    
    
    
  </div>
</div>
<!-- table end -->









</div>
