---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-slate-500">Past Supporters</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <!-- add image into  -->
    <img
      alt="R Consortium"
      class="h-10 md:h-10"
      src="/src/assets/r_consortium.png"
    />
    <img class="h-10 md:h-10" alt="Cynkra Logo" src="/src/assets/cynkra.svg" />
    <img
      class="h-10 md:h-10 bg-black"
      alt="WSL Logo"
      src="/src/assets/wsl-logo.svg"
    />
    <!-- <Icon class="size-8 md:size-12" name="simple-icons:svelte" />
    <Icon class="size-8 md:size-12" name="simple-icons:astro" />
    <Icon class="size-8 md:size-16" name="simple-icons:tailwindcss" />
    <Icon class="size-8 md:size-16" name="simple-icons:alpinedotjs" />
    <Icon class="size-8 md:size-12" name="simple-icons:vercel" /> -->
  </div>
</div>
